
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto:wght@900&display=swap');
:root {
  --dark-one: rgb(0, 0, 0);
  --dark-two: #484848;
  --main-color: #00a2ffd3;
  --light-one: #fff;
  --light-three: #f6f7fb;
  --light-four: #90d3ffcc;
  --light-five: #ffffff59;
  --drark-three: #002100;


}




  

section {
  padding-block: 8rem;
}



.even-columns {
  display: grid;
  gap: 1.5rem;
}

.site-header {
  background-image: url("/parllex-img/2\ -\ mountains\ landscape.png");
  background-position: bottom;
  background-size: cover;
  padding: 5rem;
  min-height: 70vh;
  position: relative;
  height: 800px;

}

.site-header-mask {


  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.5);

  -webkit-mask: url("https://assets.codepen.io/308367/mountain-mask.svg");
  -webkit-mask-position: center bottom;
  -webkit-mask-size: 100%;

  mask: url("https://assets.codepen.io/308367/mountain-mask.svg");
  mask-position: bottom;
  mask-size: cover;
  
}

.site-title {
  text-align: center;

  font-size: 5rem;
  color: var(--main-color);

  


  position: fixed;
  width: 100%;
  top: 15%;
  
}

.site-title-2 {
  text-align: center;
  font-size: 5rem;

  color: var(--main-color);


  position: fixed;
  width: 100%;
  top: 28%;
}



/* Media Queries */
@media only screen and (max-width: 850px) {
  .site-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .site-title-2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .site-header-mask {
 
    -webkit-mask-size: 400%;
    mask-position: bottom;
    mask-size: cover;
    
  }
}
